@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
.name-title{
  font-family: 'Abel', sans-serif;
} */

.text-stroke{
  -webkit-text-stroke: 1px #2563EB;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.text-vertical{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.text-stroke-title{
  -webkit-text-stroke: 1px #365569;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;

}